
<div   ng-controller='configController'>
    <div >
        <div class="x_panel">
            <div class="x_title">
                <h2>Ambiente</h2>
                
                <div class="clearfix"></div>
            </div>
            <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="x_content">
                        <div class="wizard_content" id="">
                            <div class="form-group col-md-12 col-xs-12" >
                                <label>{{empresa}}</label>
                            </div>   
                        </div>
                    </div>
                </form>
            <div class="x_title">
                <h2>Enviar Informacion a Soporte</h2>
                
                <div class="clearfix"></div>
            </div>
            <br />
            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="x_content">
                    <div class="wizard_content" id="">
                        <div class="form-group col-md-12 col-xs-12" >
                          <button class="btn btn-success" ng-click="EnviarInformacion()">Enviar Soporte</button>
                        </div>   
                    </div>
                </div>
            </form>
<!--<div class="x_title">
                <h2>Tipo de Sincronizacion </h2>
                
                <div class="clearfix"></div>
            </div>
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="x_content">
                        <div class="wizard_content" id="">
                            <div class="form-group col-md-12 col-xs-12" >
                                <label>
                                <input type="radio" ng-model="sincronizacion" value="MANUAL">
                                Manual
                              </label><br/>
                              <label>
                                <input type="radio" ng-model="sincronizacion" value="AUTOMATICA">
                                Automatica
                              </label><br/>
                              <button class="btn btn-success" ng-click="Guardar()">Guardar</button>
                            </div>   
                        </div>
                    </div>
                </form>-->
        </div>
    </div>
</div>